# Build output (recreated by build.bat / PyInstaller — don't commit)
build/
dist/
*.spec

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# OS clutter
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
